body{
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.img-container{
    width: 50%;
    height: 70%;
    max-height: 40vh;
    border-radius: 20px;
}

.button-container{
    font-size: 20px;
    width: 200px;
    padding: 15px;
    background-color: orangered;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    
}